<div class="row">

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="" align="center">
                        <img class="content-center" src="./assets/img/maestro.png" width="200" height="150" alt="...">
                        <h5 class="title text-center" id="txtNombre">José</h5>
                        <h5 class="title text-center" id="txtApellido">Mendoza</h5>
                </div>
                
                <p class="description text-center">
                    
                </p>
            </div>

            <hr>
            
            <div class="button-container content-center" align="center">
                <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg btn-circle">
                    <i class="fab fa-facebook-f"></i>
                </button>
                <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg btn-circle">
                    <i class="fab fa-twitter"></i>
                </button>
                <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg btn-circle">
                    <i class="fab fa-google-plus-g"></i>
                </button>
                <br>
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                Mi Perfil
            </div>

            <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>DPI</label>
                        <input type="number" disabled="" class="form-control" id="txtDpi">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>IGSS</label>
                        <input type="number" class="form-control" id="txtIgss">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Nombres</label>
                        <input type="text" class="form-control" id="txtNombres">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" class="form-control" id="txtApellidos">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>No. Título</label>
                        <input class="form-control" id="txtNoTitulo">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Registro Escalafonario</label>
                        <input class="form-control" id="txtRegEscalafonario">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label>Ciclo</label>
                        <input class="form-control" id="txtCiclo">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Grado</label>
                        <input class="form-control" id="txtGrado">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Sección</label>
                        <select class="form-control" id="cmbSeccion">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                        </select>   
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group">
                    <label>Clave de Acceso</label>
                    <input type="password" class="form-control" id="txtClave">
                </div>
            </div>

            </div>
            <div class="card-footer text-right">
                <button class="btn btn-info btn-round">Actualizar Datos</button>
            </div>
        </div> 
    </div>
</div>
